.site-navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include reset-list;
  font-size: 17px;
  line-height: 17px;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.site-navigation__link {
  display: block;
  padding: 20px 31px 23px;
  color: #ffffff;
  text-decoration: none;

  &:hover,
  &:focus {
    background-color: #293449;
  }

  &:active {
    background-color: #1d2739;
    color: rgba(255, 255, 255, 0.5);
  }
}